body {
    background-color: black;
    text-align: center;
    margin-top: 130px;
}

.score {
    color: white;
}

.panel {
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
}

.panel:hover {
    box-shadow: inset 0px 0px 0px 3px cyan;
    box-sizing: border-box;
}

.bottom-right-panel {
    background-color: red;
    border-bottom-right-radius: 100%;
}

.bottom-left-panel {
    background-color: blue;
    border-bottom-left-radius: 100%;
}

.top-right-panel {
    background-color: green;
    border-top-right-radius: 100%;
}

.top-left-panel {
    background-color: yellow;
    border-top-left-radius: 100%;
}


.active {
    background-color: white;
}
